bazaar/plugins/*/.bzr
byobu/color
vimperator/info
pentadactyl/info
vim/.netrwhist
vim/.VimballRecord
vim/bundle/_tplugin.vim
vim/bundle/eclim
# ignore for now, gets handled locally:
vim/spell
vim/undo
tags
*.pyc
*.swp
.passwd
.stamps
