bazaar/plugins/*/.bzr
byobu/color
vimperator/info
vimperator/plugins.OUT/
pentadactyl/info
pentadactyl/plugins.OUT/
vim/.netrwhist
vim/.VimballRecord
vim/bundle/_tplugin.vim
# ignore for now, gets handled locally:
vim/spell
vim/undo
tags
*.pyc
*.swp
.passwd
.stamps
