[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/blueyed/oh-my-zsh.git
[submodule "autojump"]
	path = autojump
	url = git@github.com:blueyed/autojump.git
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = http://github.com/sukima/xmledit.git
