pentadactyl/info
vimperator/info

# Neovim/Vim
vim/.netrwhist
vim/neobundles/
vim/spell
vim/undo
vim/view
# Neovim.
vim/shada

# Password and Makefile stamps
.passwd
.stamps

# Ignore .local files, typically symlinked to make them greppable from the root.
pentadactylrc.local
zshenv.local
zshrc.local

# Build dir, used for tests.
build
