[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/blueyed/oh-my-zsh.git
	ignore = untracked
[submodule "autojump"]
	path = autojump
	url = git@github.com:blueyed/autojump.git
	ignore = untracked
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = http://github.com/sukima/xmledit.git
	ignore = untracked
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "vim/bundle/occur"]
	path = vim/bundle/occur
	url = git://github.com/vim-scripts/occur.vim.git
	ignore = untracked
[submodule "vim/bundle/grep"]
	path = vim/bundle/grep
	url = git://github.com/vim-scripts/grep.vim.git
	ignore = untracked
[submodule "vim/bundle/session"]
	path = vim/bundle/session
	url = git://github.com/vim-scripts/session.vim--Odding.git
	ignore = untracked
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
	ignore = untracked
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
	ignore = untracked
[submodule "vim/bundle/checksyntax"]
	path = vim/bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
	ignore = untracked
[submodule "vim/bundle/quickfixsigns"]
	path = vim/bundle/quickfixsigns
	url = git://github.com/tomtom/quickfixsigns_vim.git
	ignore = untracked
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
	ignore = untracked
[submodule "vim/bundle/tmru"]
	path = vim/bundle/tmru
	url = git://github.com/tomtom/tmru_vim.git
	ignore = untracked
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
	ignore = untracked
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "vim/bundle/Rainbow-Parenthsis-Bundle"]
	path = vim/bundle/Rainbow-Parenthsis-Bundle
	url = git://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
	ignore = untracked
[submodule "vim/bundle/ingretu"]
	path = vim/bundle/ingretu
	url = git://github.com/gmarik/ingretu.git
	ignore = untracked
[submodule "vim/bundle/xterm16"]
	path = vim/bundle/xterm16
	url = git://github.com/vim-scripts/xterm16.vim.git
	ignore = untracked
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "vim/bundle/extradite"]
	path = vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
	ignore = untracked
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/MarcWeber/snipmate.vim.git
	ignore = untracked
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
	ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "vim/bundle/DBGp-Remote-Debugger-Interface"]
	path = vim/bundle/DBGp-Remote-Debugger-Interface
	url = git@github.com:blueyed/DBGp-Remote-Debugger-Interface.git
	ignore = untracked
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
	ignore = untracked
[submodule "vim/bundle/atom"]
	path = vim/bundle/atom
	url = git://github.com/vim-scripts/Atom.git
	ignore = untracked
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = untracked
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
	ignore = untracked
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
	ignore = untracked
[submodule "vim/bundle/open-browser"]
	path = vim/bundle/open-browser
	url = git://github.com/tyru/open-browser.vim.git
	ignore = untracked
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/bundle/reporoot"]
	path = vim/bundle/reporoot
	url = git://github.com/vim-scripts/reporoot.vim.git
	ignore = untracked
[submodule "vim/bundle/visualctrlg"]
	path = vim/bundle/visualctrlg
	url = git://github.com/tyru/visualctrlg.vim.git
	ignore = untracked
[submodule "vim/bundle/tplugin"]
	path = vim/bundle/tplugin
	url = git://github.com/tomtom/tplugin_vim.git
	ignore = untracked
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/bundle/tmarks"]
	path = vim/bundle/tmarks
	url = git://github.com/tomtom/tmarks_vim.git
	ignore = untracked
[submodule "vim/bundle/ttagecho"]
	path = vim/bundle/ttagecho
	url = git://github.com/tomtom/ttagecho_vim.git
	ignore = untracked
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
	ignore = untracked
[submodule "vim/bundle/shymenu"]
	path = vim/bundle/shymenu
	url = git://github.com/tomtom/shymenu_vim.git
	ignore = untracked
[submodule "vim/bundle/easytags"]
	path = vim/bundle/easytags
	url = git://github.com/vim-scripts/easytags.vim.git
	ignore = untracked
[submodule "vim/bundle/zoomwin"]
	path = vim/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/maximize"]
	path = vim/bundle/maximize
	url = git://github.com/ervandew/maximize.git
[submodule "vim/bundle/outlook"]
	path = vim/bundle/outlook
	url = git://github.com/vim-scripts/OutlookVim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
